<div class="project-card mx-auto">
  <%= image_tag 'karuna.png' %>
  <div class="project-info p-4">
    <div class="d-flex gap-2 mb-3">
      <%= image_tag 'https://cdn-icons-png.flaticon.com/512/5168/5168452.png', class: "logo-lg" %>
      <div>
        <p class="text-info fs-sm m-0"><small>Volunteering platform & social media</small></p>
        <h5 class="text-primary m-0">Karuna</h5>
      </div>
    </div>
    <p class="fs-sm mb-4">Project description lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <h6 class="text-primary text-center">Technologies</h6>
    <ul class="d-flex p-0 justify-content-center gap-3 my-4">
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-plain.svg' %>
      </li>
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-plain.svg' %>
      </li>
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg' %>
      </li>
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-plain.svg' %>
      </li>
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-plain.svg' %>
      </li>
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-plain.svg' %>
      </li>
      <li class="logo-sm">
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/webpack/webpack-original.svg' %>
      </li>
    </ul>
    <div class="d-flex justify-content-center gap-3 mt-5">
      <%= link_to 'Project link', 'http://www.karuna.world/', target: "_blank", class: "btn-purple fs-sm py-2 px-3" %>
      <%= link_to 'Repository', 'https://github.com/felipecrubio/karuna', target: "_blank", class: "btn-white fs-sm py-2 px-3" %>
    </div>
  </div>
</div>
