<section id="technologies" class="my-5">
  <h2 class="text-primary text-center fs-1">Technologies</h2>
  <div class="logo-carousel mx-auto p-3">
    <ul class="container d-flex p-0 justify-content-center flex-wrap gap-5 mt-5">
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/nextjs/nextjs-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/redis/redis-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/graphql/graphql-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/webpack/webpack-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/yarn/yarn-original.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-plain.svg', class: "logo-lg" %>
      </li>
      <li>
        <%= image_tag 'https://raw.githubusercontent.com/devicons/devicon/master/icons/figma/figma-original.svg', class: "logo-lg" %>
      </li>
    </ul>
  </div>
</section>
